<h3>Listing demands</h3>

<table class="table">

<% @demands.each do |demand| %>
  <tr>
    <td><%= demand.interface_id %></td>
    <td><%= demand.title %></td>
    <td><%= link_to 'Show', demand %></td>
    <td><%= link_to 'Edit', edit_demand_path(demand) %></td>
    <td><%= link_to 'Destroy', demand, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Demand', new_demand_path %>
