<h1>Listing demands</h1>

<table>
  <tr>
    <th>Interface</th>
    <th>Title</th>
    <th>Host</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @demands.each do |demand| %>
  <tr>
    <td><%= demand.interface_id %></td>
    <td><%= demand.title %></td>
    <td><%= demand.host %></td>
    <td><%= link_to 'Show', demand %></td>
    <td><%= link_to 'Edit', edit_demand_path(demand) %></td>
    <td><%= link_to 'Destroy', demand, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Demand', new_demand_path %>
