<%- model_class = @demand.class -%>
<h1>Demand Add</h1>

<%= form_tag url_for(:controller => "demands", :action => "create"), :class => 'form-horizontal' do %>
  <div class="control-group">
    <%= label_tag "", "Description", :class => 'control-label' %>
    <div class="controls">
      <%= text_field_tag :title, "", :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag "", "Host", :class => 'control-label' %>
    <div class="controls">
      <%= text_field_tag "demand[][:host]", "", :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag "", "Results", :class => 'control-label' %>
    <div class="controls">
      <%= text_field_tag "demand[][:result]", "", :class => 'input-small', :placeholder => '目标结果key' %>
    </div>
  </div>

  <%= hidden_field_tag "demand[][:parent]", "" %>
  
  <div class="control-group">
     <%= label_tag "", "Params", :class => 'control-label' %> <a id="demand_param_add" href="#">+</a>
    <div class="controls">
      <%= text_field_tag "demand[][:param]", "", :class => "input-small" %>
      <%= select_tag "demand[][:type]", options_for_select([["手输","0"], ["接口", "1"]]), :class => "span1", :style => "display:none" %>
    </div>
  </div>


  <div class="form-actions">
    <%= submit_tag nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                demands_path, :class => 'btn' %>
  </div>
<% end %>
