<h3>TestCase Result</h3>

<%= button_to "返回", {:controller => "playpolicy", :action => "index" }, :class => "btn" %>

<table class="table">
  <% @urls.each_with_index do |url,index| %>
    <tr>
      <td><%= index+1 %><td>
      <td><a href="#match<%= index+1 %>"><%= show_test_result @facts[index], @expects[index] %></a></td>
      <td><a href="<%= url %>" target="_blank"><%= url %></a></td>
    </tr>
    <tr id="match<%= index+1 %>" style="display:none">
     <td>
        预期:<%= @expects[index] %>
        实际: <%= @facts[index] %>
     </td>
    <td colspan="6">
      <%= show_match_info(@conf,@match_infos[index]) %>
    </td>
    </tr>
  <% end %>

</table>

